@import "../../scss/variables";

.login-register-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(
    -45deg,
    $color-gray-lighten-75 50%,
    $color-primary-base 50%
  );

  &__content {
    max-width: 360px;
    width: 100%;
  }
}
