@import "../../scss/variables";

.layout {
  &__top-banner {
    background-color: $color-primary-base;
    color: $color-gray-lighten-75;
    height: 200px;
  }

  &__content {
    margin: -100px auto;
  }
}
